* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --back-color: linear-gradient(to right, rgb(48, 39, 39), rgb(187, 31, 31), rgb(238, 82, 82), rgb(224, 131, 131), rgb(228, 151, 151), rgb(224, 131, 131), rgb(238, 82, 82), rgb(187, 31, 31), rgb(48, 39, 39));
  font-size: 16px;
}

body {
  display: flex;
  justify-content: center;
  align-items: start;
  background-image: url(./../imgs/back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
}

.head {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(to right, rgb(238, 82, 82), rgb(224, 131, 131), rgb(228, 151, 151), rgb(224, 131, 131), rgb(238, 82, 82));

  position: relative;
  top: 100px;
  z-index: 3;
}
.headBack {
  width: 95%;
  height: 95%;
  border-radius: 50%;
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 2;
}
.headBack > img {
  width: inherit;
  height: inherit;
  border-radius: 50%;
  border: 2px solid black;
}


.main {
  background: var(--back-color);
  width: 500px;
  height: 550px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.main > h1 {
  margin-top: 100px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2.7rem;
  letter-spacing: 0.2rem;
}

#transP{
  transform: rotate(20deg);
  border: 2px dashed rgb(194, 184, 184);
  color:rgb(224, 218, 218);
  margin: 15px;
  padding: 10px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2rem;
  font-style: italic;
}
.address{
  height:50px;
  display:flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid grey;
}
.address>img{
  width: 35px;
}
.address>p{
  color: rgb(236, 228, 228);
  font-size:1.4rem;
  letter-spacing: 0.3em;
  font-weight: 600;
  text-shadow: 6px 6px 5px rgb(0, 0, 0);
}
.main>*:nth-child(4n){
  margin-top: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size:1.7rem;
  color: white;
  font-weight: 800;
  letter-spacing: 0.3rem;
  text-shadow: 8px 8px 5px rgb(0, 0, 0);
}


.followers {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.followers > img {
  width: 80px;
  height: 80px;
  margin: 10px 5px;
  border-radius: 50%;
  border: 2px solid rgb(241, 237, 237);
}

.followers > img:last-child {
  object-fit: cover;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 0px;
}
.followers > img:hover{
  border: 2px solid rgb(165, 24, 24);
}
.followers > img:active{
  border: 2px solid yellow;
}


.socialNetworks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
}
.socialNetworks> img {
  margin: 5px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}
.socialNetworks> img:nth-child(2n) {
  background: linear-gradient(to right bottom, darkblue, blue, violet, red, orange);
}
.socialNetworks> img:nth-child(3n) {
  background-color: rgb(148, 37, 29);
}
.socialNetworks> img:nth-child(3n+1) {
  background: rgb(61, 101, 233);
}
.socialNetworks> img:last-child {
  background-color: rgb(124, 150, 235);
}

